* {
    margin: 0;
}

p {
    color: #2524327c;
    font-size: 24px;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: F5F8FF;

}


.header-main {
    height: 100vh;
    background-image: url(../img/Hero-bg.png);


}

/* navbar */

.navbar {
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: 700;

}

.primary-btn {
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    background-color: #4E47FF;
    border: 2px solid #4E47FF;
    font-weight: 600;
}

.primary-btn:hover {
    background-color: whitesmoke;
    color: #4E47FF;
    /* border: 2px solid #4E47FF; */
    transition: ease-in-out 0.3s;
}

/* hero-section */

.hero-main {
    padding: 150px;
    text-align: center;

}

.hero-heading h1 {
    font-size: 65px;
    padding-bottom: 30px;
    color: #252432;
}

.stay-btn {
    padding: 10px 20px;
}

/* action- section */
.action-main {
    display: flex;
    padding: 100px 120px;
    justify-content: space-between;
    align-items: center;

}

.action-details {}

.common {
    font-size: 42px;
    color: #252432;
    padding-bottom: 15px;

}

.action-details p {
    padding-bottom: 10px;
}

.action-main img {
    border-radius: 48px;
    width: calc((100% - 120px)/2);
}

/* productive user  */
.Users-section {
    margin: 0 120px;
    text-align: center;
    border: 2px solid#4d47ff1c;
    background-color: #4d47ff1c;
    padding: 30px 30px;
    border-radius: 24px;

}

.Users-section h3 {
    font-size: 38px;
    padding-bottom: 35px;
}

.users {
    display: flex;
    justify-content: space-around;
}

.users h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4E47FF;
}

/* review section */

.review-main {
    margin: 100px 120px;
    text-align: center;

}

.review {
    text-align: left;
    border: 1px solid gray;
    padding: 24px;
    /* width: 325px; */
    border-radius: 14px;
    background-color: rgba(128, 128, 128, 0.077);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.211);
    margin-top: 20px;

}

.review-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.review h3 {
    font-size: 24px;
    padding: 10px 0;
}

.unique {
    font-size: 18px;
    color: #252432bf;
}

.avatar {
    display: flex;
    margin: 18px 0 0 0;
    gap: 10px;
}

.avatar img {
    border-radius: 100%;
}

.unique-1 {
    font-size: 16px;

}

/* get in touch */
.get-in-touch {
    display: flex;
    margin: 100px 120px;
    justify-content: space-between;
    align-items: center;
}

.get-in-touch h1 {
    font-size: 97px;
    color: #252432e9;
}

.form-field {
    border: none;
}


.input-box {
    padding: 10px 20px;
    width: 300px;
    margin-bottom: 15px;
}

.box-message {
    padding: 10px 30px 100px 10px;
    width: 300px;
    margin-bottom: 15px;

}


.btn-2 {
    width: 100%;
    height: 40px;
}

/* footer */

footer {
    text-align: center;
    background-color: #4d47ff12;
    padding: 50px 20px;
}

.logox {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;


}

li {}

li a {
    text-decoration: none;
    color: #252432;
}



/* ---small device--- */
@media screen and (max-width:576px) {

    /* ---header---- */

    .header-main {
        height: 100vh;
    }

    .navbar {
        padding: 20px 40px;
    }

    .hero-main {
        padding: 60px 20px;

    }

    .hero-heading h1 {
        font-size: 35px;
        padding-bottom: 20px;

    }

    /* action- section */

    .action-main {
        padding: 80px 20px;
        flex-direction: column;
        gap: 70px;
        text-align: center;

    }

    .action-main img {
        border-radius: 24px;
        width: calc((100% - 10px)/1);
    }

    /* --productive-users-- */

    .Users-section {
        margin: 0 30px;
    }

    .users {
        flex-direction: column;
        gap: 30px;


    }

    .users h1 {
        font-size: 60px;
    }

    /* review section */

    .review-main {
        margin: 80px 30px;

    }

    /* get in touch */
    .get-in-touch {
        margin: 80px 5px;
        flex-direction: column;

    }

    .get-in-touch h1 {
        font-size: 50px;
        text-align: center;

    }

    .input-box {
        width: 200px;
        margin-bottom: 15px;
    }

    .box-message {
        padding: 10px 30px 100px 10px;
        width: 200px;
        margin-bottom: 15px;

    }

    /* footer */
    .logox {
        font-size: 45px;
    }

    ul {
        flex-direction: column;
        padding: 20px;
        gap: 20px;


    }
}

/* ----medium-device---- */

@media screen and (min-width: 577px) and (max-width: 768px) {
    /* ---header---- */

    .header-main {
        height: 100vh;
    }


    .navbar {
        padding: 20px 60px;
    }

    .hero-main {
        padding: 80px 20px 60px 20px;

    }

    .hero-heading h1 {
        font-size: 45px;
        padding-bottom: 30px;

    }

    /* action- section */

    .action-main {
        padding: 80px 20px;
        flex-direction: column;
        gap: 70px;
        text-align: center;

    }

    .action-main img {
        width: 60%;
    }

    /* --productive-users-- */

    .Users-section {
        margin: 0 40px;
    }

    .users {
        /* flex-direction: column; */
        gap: 30px;


    }

    .users h1 {
        font-size: 60px;
    }

    /* get in touch */
    .get-in-touch {
        margin: 80px 4px;
        flex-direction: column;

    }

    .get-in-touch h1 {
        font-size: 60px;
        text-align: center;

    }

    .logox {
        font-size: 55px;
    }







}

/* -----large--device--- */

@media screen and (min-width: 769px) and (max-width: 992px) {
    /* ---header---- */

    .header-main {
        height: 100vh;
    }


    .navbar {
        padding: 20px 80px;
    }

    .hero-main {
        padding: 90px 20px 60px 20px;

    }

    .hero-heading h1 {
        font-size: 55px;
        padding-bottom: 30px;


    }

    /* action- section */

    .action-main {
        padding: 80px 40px;
        gap: 30px;
    }

    .action-main img {
        border-radius: 30px;
        width: calc((100% - 20px)/2);
    }

    /* --productive-users-- */

    .Users-section {
        margin: 0 50px;
    }


    .users h1 {
        font-size: 70px;
    }

    /* get in touch */
    .get-in-touch {
        margin: 80px 80px;

    }

    .get-in-touch h1 {
        font-size: 60px;

    }

    .logox {
        font-size: 60px;
    }




}

/* ----extra--large--- */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    /* ---header---- */

    .header-main {
        height: 100vh;
    }


    .navbar {
        padding: 20px 100px;
    }

    .hero-main {
        padding: 100px 20px 60px 20px;

    }

    .hero-heading h1 {
        font-size: 60px;
        padding-bottom: 30px;


    }

    /* action- section */

    .action-main {
        padding: 80px 50px;
        gap: 60px;
    }

    .action-main img {
        border-radius: 40px;
        width: calc((100% - 25px)/2);
    }

    /* get in touch */
    .get-in-touch {
        margin: 80px 80px;

    }

    .get-in-touch h1 {
        font-size: 80px;

    }

    .logox {
        font-size: 65px;
    }





}